<style type="text/css">#custom
{font-family:Courier New;width:100%;border-collapse:collapse;}
#custom td, #custom th {font-size:12px;border:1px solid #ffffff;padding:1px 1px 1px 1px;}
#custom th {font-size:14px;font-weight:bold;text-align:center;padding-top:1px;padding-bottom:1px;background-color:#ffffff;color:#000000;}
#custom tr.alt td {color:#000000;px00;background-color:#E6E6E6;}
#custom tr:hover { background: #99FF66; }
#right-cell {text-align: right;}</style>